[build]
builder = "nixpacks"

[deploy]
healthcheckPath = "/api/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
startCommand = "composer install --no-dev --optimize-autoloader && php artisan migrate --force && php artisan db:seed --force && php artisan serve --host=0.0.0.0 --port=$PORT"

[[services]]
name = "app"

[services.variables]
APP_ENV = "production"
APP_DEBUG = "false"
APP_KEY = "base64:9bkyESiXFYu7skLxQnaj/F4YWoo+7j6FeC6lJFtfP7Q="
APP_NAME = "StayFind"
APP_URL = "https://demostay-production.up.railway.app"
PORT = "8080"
DB_CONNECTION = "mysql"
DB_HOST = "${MYSQLHOST}"
DB_PORT = "${MYSQLPORT}"
DB_DATABASE = "${MYSQLDATABASE}"
DB_USERNAME = "${MYSQLUSER}"
DB_PASSWORD = ""
CACHE_DRIVER = "file"
SESSION_DRIVER = "file"
QUEUE_CONNECTION = "sync"
LOG_CHANNEL = "stderr"
LOG_LEVEL = "debug"
